body {
    margin: 0;
    overflow: hidden;
}

.title-text {
    text-align: center;
}

#start-button {
    text-align: center;
    display: block;
}

#start-menu {   
    padding-top: 250px;
}

#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #228B22;
}

#player {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ADD8E6;
    border: 3px solid blue;
}

#enemy {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #C30010;
    border: 3px solid black;
    animation: enemy 3s infinite linear; 
    animation-direction: alternate; 
}

@keyframes enemy {
    0% {left: 1120px;}
    100% {left: 1550px;}
}

.platform {
    position: absolute;
    background-color: #4f3a2b;
    border-top: 5px solid lightgreen;
}

