body {
    margin: 0;
    overflow: hidden;
}

#viewport {
    width: 100vw; /* Ensure the viewport takes the full width of the screen */
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#gameContainer {
    position: absolute;
    width: 350vw; /* Make it wide enough */
    height: 100vh;
    background-color: #228B22;
    background-image: url("img/2dpf_background2.png");
    background-size: cover;
    
}

#player {
    position: absolute;
    width: 60px;
    height: 60px;
    /* background-color: #ADD8E6;
    border: 3px solid blue; */
    border-radius: 25px 25px 10px 10px;
    background-image: url("img/slime_down.png");
    background-size: 100%;
}

.hazard {
    position: absolute;
    width: 70px;
    height: 70px;
    /* background-color: #C30010;
    border: 3px solid black; */
    background-image: url("img/enemy.png");
    background-size: cover;
}

#enemy1 {
    left: 1120px;
    top: 335px;
    animation: enemy1 1s infinite linear;
    animation-direction: alternate;
}

@keyframes enemy1 {
    0% { left: 1120px; }
    100% { left: 1550px; }
}

#enemy2 {
    top: 814px;
    animation: enemy2 1s infinite linear;
    animation-direction: alternate;
}

@keyframes enemy2 {
    0% { left: 2450px; }
    100% { left: 2900px; }
}

#goal {
    /* background-color: #886fac;
    border: 15px solid darkslategrey; */
    left: 4700px;
    top: 75px;
    width: 120px;
    height: 150px;
    background-image: url("img/portal.png");
    background-size: cover;
}

.platform {
    position: absolute;
}

#floor1 {
    left: 0px;
    top: 880px;
    width: 1000px;
    height: 50px;
    background-color: #4f3a2b;
    border-top: 5px solid lightgreen;
    /* background-image: url("img/floor_big.png");
    background-size: 100%; */
} 

#floor2 {
    left: 1780px;
    top: 880px;
    width: 100px;
    height: 50px;
    background-color: #4f3a2b;
    border-top: 5px solid lightgreen;
    /* background-image: url("img/floor_small.png");
    background-size: cover; */
}

#floor3 {
    left: 2135px;
    top: 880px;
    width: 50px;
    height: 50px;
    background-color: #4f3a2b;
    border-top: 5px solid lightgreen;
    /* background-image: url("img/floor_small.png");
    background-size: cover; */
}

#floor4 {
    left: 2400px;
    top: 880px;
    width: 900px;
    height: 50px;
    background-color: #4f3a2b;
    border-top: 5px solid lightgreen;
    /* background-image: url("img/floor_big.png");
    background-size: cover; */
}

#plat1 {
    left: 470px;
    top: 800px;
    width: 150px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_med.png");
    background-size: cover; */
}

#plat2 {
    left: 540px;
    top: 585px;
    width: 200px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_med.png");
    background-size: cover; */
}

#plat3 {
    left: 780px;
    top: 490px;
    width: 40px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_sml.png");
    background-size: cover; */
}

#plat4 {
    left: 790px;
    top: 700px;
    width: 100px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_med.png");
    background-size: cover; */
}

#plat5 {
    left: 900px;
    top: 450px;
    width: 40px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_sml.png");
    background-size: cover; */
}

#plat6 {
    left: 1100px;
    top: 400px;
    width: 540px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_lge.png");
    background-size: cover; */
}

#plat7 {
    left: 1780px;
    top: 520px;
    width: 100px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_med.png");
    background-size: cover; */
}

#plat8 {
    left: 1780px;
    top: 640px;
    width: 100px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_med.png");
    background-size: cover; */
}

#plat9 {
    left: 1780px;
    top: 760px;
    width: 100px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_med.png");
    background-size: cover; */
}

#plat10 {
    left: 2950px;
    top: 850px;
    width: 350px;
    height: 30px;
    background-color: #4f3a2b;
    border-top: 5px solid lightgreen;
    /* background-image: url("img/plat_lge.png");
    background-size: cover; */
}

#plat11 {
    left: 3150px;
    top: 820px;
    width: 150px;
    height: 30px;
    background-color: #4f3a2b;
    border-top: 5px solid lightgreen;
    /* background-image: url("img/floor_small.png");
    background-size: cover; */
}

#plat12 {
    left: 3350px;
    top: 720px;
    width: 40px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_sml.png");
    background-size: cover; */
}

#plat13 {
    left: 3550px;
    top: 620px;
    width: 40px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_sml.png");
    background-size: cover; */
}

#plat14 {
    left: 3750px;
    top: 520px;
    width: 40px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_sml.png");
    background-size: cover; */
}

#plat15 {
    left: 3950px;
    top: 420px;
    width: 40px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_sml.png");
    background-size: cover; */
}

#plat16 {
    left: 4150px;
    top: 320px;
    width: 40px;
    height: 30px;
  background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_sml.png");
    background-size: cover; */
}

#plat17 {
    left: 4350px;
    top: 220px;
    width: 500px;
    height: 30px;
    background-color: grey;
    border: 5px solid darkslategrey;
    /* background-image: url("img/plat_lge.png");
    background-size: cover; */
}